{% extends 'AppBundle::base_layout.html.twig' %}

{% block content %}
    <h1>Comment edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('comment_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
