{% extends 'AppBundle::base_layout.html.twig' %}

{% block content %}
    <h1>Entries list</h1>
	
	<dl>
		<dt>Id</dt>
		<dt>Title</dt>
		<dt>Content</dt>
		<dt>Createdat</dt>
		<dt>Updatedat</dt>
		<dt>Author</dt>
		<dt>Actions</dt>
	</dl>
		
	{% for entry in entries %}
		<dl>
			<dd><a href="{{ path('entry_show', { 'id': entry.id }) }}">{{ entry.id }}</a></dd>
			<dd>{{ entry.title }}</dd>
			<dd>{{ entry.content }}</dd>
			<dd>{% if entry.createdAt %}{{ entry.createdAt|date('Y-m-d H:i') }}{% endif %}</dd>
			<dd>{% if entry.updatedAt %}{{ entry.updatedAt|date('Y-m-d H:i') }}{% endif %}</dd>
			<dd>{{ entry.author }}</dd>
			<dd>
				<ul>
					<li>
						<a href="{{ path('entry_show', { 'id': entry.id }) }}">show</a>
					</li>
					<li>
						<a href="{{ path('entry_edit', { 'id': entry.id }) }}">edit</a>
					</li>
				</ul>
			</dd>
		</dl>
	{% endfor %}

    <ul>
        <li>
            <a href="{{ path('entry_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
