{% extends 'AppBundle::base_layout.html.twig' %}

{% block content %}
    <h1>Entry creation</h1>

	{{ form_start(form) }}
	<table>
		<tr>
			<td>{{ form_widget(form.title) }}</td>
			<td>{{ form_widget(form.content) }}</td>
			<td>{{ form_widget(form.email) }}</td>
		</tr>			
	</table>
    {{ form_end(form) }}	

    <ul>
        <li>
            <a href="{{ path('entry_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
