{% extends 'AppBundle::base_layout.html.twig' %}

{% block content %}
    <h1>Entry</h1>

    <dl>
        <dt>Id</dt>
        <dd>{{ entry.id }}</dd>
		<dt>Title</dt>
		<dd>{{ entry.title }}</dd>
		<dt>Content</dt>
		<dd>{{ entry.content }}</dd>
		<dt>Updated At</dt>
		<dd>{% if entry.updatedAt %}{{ entry.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</dd>
		<dt>Author</dt>
		<dd>{{ entry.author }}</dd>
	</dl>
	
	<h1>Comments</h1>
	
	<dl>
	{% for comment in entry.getComments %}
		<dt>Id</dt>
		<dd><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.title }}</a></dd>
		<dt>Comment</dt>
		<dd>{{ comment.content }}</dd>
		<dt>Author</dt>
		<dd>{{ comment.author }}</dd>
	{% endfor %}
	</dl>
	
    <dl>
        <ul>
            <li>
                <a href="{{ path('entry_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('entry_edit', { 'id': entry.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit) }}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    <dl>
{% endblock %}
