{% extends 'AppBundle::base_layout.html.twig' %}

{% block content %}
    <h1>Entry</h1>

    <dl>
        <dt>Id</dt>
        <dd>{{ entry.id }}</dd>
		<dt>Title</dt>
		<dd>{{ entry.title }}</dd>
		<dt>Content</dt>
		<dd>{{ entry.content }}</dd>
		<dt>Updated At</dt>
		<dd>{% if entry.updatedAt %}{{ entry.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</dd>
		<dt>Author</dt>
		<dd>{{ entry.author }}</dd>
	</dl>

    <dl>
    <ul>
        <li>
            <a href="{{ path('entry_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entry_edit', { 'id': entry.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <dl>

    <h1>Add a Comment: </h1>
    {% render(controller('AppBundle:Comment:create', {'request': app.request, 'entry': entry.id})) %}

	{% if entry.getComments|length %}
		<h1>Comments</h1>
        <table>
		{% for comment in entry.getComments %}
            <tr>
                <td>Id</td>
                <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.title }}</a></td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{ comment.author }}</td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td>{{ comment.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
		{% endfor %}
        </table>
        <br/>
	{% endif %}

{% endblock %}
